body {background: #d2cbcb;}
.red {
	color: red;
}
.blue {
	color: blue;
}
.cvet {
	color: #df88df;
}
.green {
	color: green;
}
.yellow {
	color: yellow;
}
.through {
	text-decoration: line-through;
}
.block {
	background: #000;
	color:#fff;
}
li {
	font-size: 25px;
}